<?xml version="1.0"?> 
<launch>

	<arg name="marker_size" default="20" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
        
	<arg name="cam_image_topic" default="/D435/color/image_raw" />
	<arg name="cam_info_topic" default="/D435/color/camera_info" />
        
	<arg name="output_frame" default="T265_odom_frame" />
	<!--arg name="bundle_files" default="$(find my_pcl_tutorial)/bundles/poi_box.xml" /-->

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

        <node name="ar_saver" pkg="my_pcl_tutorial" output="screen" type="ar_tracker_pcl">
	<param name="topic_in" value="/ar_pose_marker"/>
	<param name="filename" value="/root/database/rover.txt"/>
	</node>
</launch>
