<?xml version="1.0"?> 
<launch>
<remap from="reading_pcd_before/pcl_output" to="pcl_before" />
<node name="reading_pcd_before" pkg="my_pcl_tutorial" type="read_pcd" >

 <param name="input" type="string" value="/home/dcas/m.dreier/Documents/PCD_FILES/Test3/D435/Outside_banc_radiusx1_denoisedx1_grid.pcd" />


 <param name="frame_id" type="string" value="map" />


</node>
<remap from="reading_pcd_after/pcl_output" to="pcl_after" />

<node name="reading_pcd_after" pkg="my_pcl_tutorial" type="read_pcd" >

 <param name="input" type="string" value="/home/dcas/m.dreier/Documents/PCD_FILES/Test3/Laser/Outside_banc_radiusx1_denoisexdx1_grid_denoisedx1.pcd" />



<param name="frame_id" type="string" value="map" />


</node>

</launch>
