<?xml version="1.0"?> 
<launch>

  <param name="use_sim_time" value="true"/> <!-- only with rosbag -->
<node pkg="tf" type="static_transform_publisher" name="depth_camera" args="0 0.052 0.013 0 0 0 1 T265_pose_frame D435_link 100"/>
<node pkg="tf" type="static_transform_publisher" name="laser_transform" args="0 0.052 0.013 0 0 0 1 T265_pose_frame laser 100"/>
<node pkg="tf" type="static_transform_publisher" name="tracking_camera" args="0 0 0 0 0 0 1 map T265_odom_frame 100"/>
  <group ns="rtabmap">
    <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap" output="screen" args="-d">
      <param name="subscribe_scan"   value="true"/>
      <param name="subscribe_rgb"    value="false"/>
      <param name="subscribe_depth"  value="false"/>
      <param name="frame_id"         value="map"/>
      <param name="odom_frame_id"    value="T265_odom_frame"/>
      <param name="wait_for_transform_duration"  value="1"/>
      <param name="odom_tf_linear_variance"  value="0.01"/>
      <param name="odom_tf_angular_variance" value="0.05"/>

      <!-- RTAB-Map parameters -->
      <param name="Reg/Strategy"              value="1"/>    <!-- 1 for lidar -->
      <param name="Reg/Force3DoF"             value="true"/> <!-- 2d slam -->
      <param name="RGBD/NeighborLinkRefining" value="true"/> <!-- odometry correction with scans -->

      <remap from="scan"    to="/scan"/>
    </node>

    <!-- just for visualization -->
    <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" output="screen">
    <remap from="odom" to="T265/odom/sample"/>
    </node>
  </group>
</launch>
